
.middle {
	color: white;	margin-top:80px; 
}
 .middle h2 {
	margin-bottom:20px;
	margin-top: 20px;
}	
.middle .col-xs-8 {
	padding: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.middle .col-xs-8 .span {
	font-size: 14px;
}
/*.middle .col-xs-2{
	background: white;
}*/
.middle .grid-2 {
	background: #FAA24B;
}
.middle .grid-1 {
	background: #CCD86C;
}
.middle .cirle-progress-bar {
	float: right;
/*	margin:10px;*/
margin-top: -105px;
}
.bottom .col-xs-4{
font-size: 12px;

}
