.head{
	min-height: 0px;
	border:none;
}
#more-head{
	background-color: #ffcc00;
	font-family: "微软雅黑";
	font-size: 25px;
	text-align: center;
	color: white;
	padding: 10px 0px;
}
#backform{
	float: left;
	margin-left: 20px;
}
.go{
	float: right;
	margin-right: 20px;
}
.txt{
	float: left;
	margin-left: 20px;
}
.select{
	color: gray;
	font-size: 20px;
	font-family: "微软雅黑";
	border:1px solid #eee;
	padding: 5px 0 5px 0;
}